body {
  
  font-family:  'Roboto', 'Oxygen',    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECF5FF;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hit-buttons{
  text-align: center;
}
.hit-buttons button{
  margin: 2px;
}
#hit-table{
  width: 95%;
  margin: auto;
  
}